Repository wayofdev/gh-actions-terragrunt, pull requests merged in 2023-11, with the labels that each got.

#1 feat: added terragrunt plan and apply actions
  .github/labeler.yml
  .github/release_template.md
  .github/workflows/apply-labels.yaml
  .github/workflows/base-image.yaml
  .github/workflows/create-release.yml
  .github/workflows/release.yaml
  .github/workflows/shellcheck.yml
  .gitignore
  README.md
  example_workflows/create_plan.yaml
  example_workflows/create_plan_for_destroy.yaml
  gh-action-terragrunt-apply/README.md
  gh-action-terragrunt-apply/action.yaml
  gh-action-terragrunt-plan/README.md
  gh-action-terragrunt-plan/action.yaml
  image/Dockerfile
  image/Dockerfile-base
  image/actions.sh
  image/entrypoints/tg_apply_all.sh
  image/entrypoints/tg_plan_all.sh
  image/setup.py
  image/src/github_actions/__init__.py
  image/src/github_actions/api.py
  image/src/github_actions/cache.py
  image/src/github_actions/commands.py
  image/src/github_actions/debug.py
  image/src/github_actions/env.py
  image/src/github_actions/find_pr.py
  image/src/github_actions/inputs.py
  image/src/github_pr_comment/__init__.py
  image/src/github_pr_comment/__main__.py
  image/src/github_pr_comment/backend_config.py
  image/src/github_pr_comment/backend_fingerprint.py
  image/src/github_pr_comment/cmp.py
  image/src/github_pr_comment/comment.py
  image/src/github_pr_comment/hash.py
  image/src/lock_info/__init__.py
  image/src/lock_info/__main__.py
  image/src/plan_renderer/__init__.py
  image/src/plan_renderer/variables.py
  image/src/terraform/__init__.py
  image/src/terraform/cloud.py
  image/src/terraform/download.py
  image/src/terraform/exec.py
  image/src/terraform/hcl.py
  image/src/terraform/module.py
  image/src/terraform/versions.py
  image/tools/compact_plan.py
  image/tools/convert_output.py
  image/tools/github_comment_react.py
  image/tools/http_credential_actions_helper.py
  image/tools/workspace_exists.py
  image/workflow_commands.sh
  package.json
Labels: type: maintenance, type: documentation

#3 fix: github workflows
  .github/workflows/create-base-image.yaml
  .github/workflows/create-release.yml
  .github/workflows/deploy-release.yaml
Labels: type: enhancement

#5 fix: base image name
  .github/workflows/deploy-release.yaml
Labels: type: maintenance

#6 chore(master): release 1.0.1
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#12 chore(master): release 1.1.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#16 chore(master): release 1.1.1
  CHANGELOG.md
  package.json
Labels: autorelease: pending
